# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Solver compilation files
*linux64GccDPInt32Opt
*linux64GccDPInt32-spack
*rhoPimpleFoam
*rhoSimpleFoam
dynamicCode
log*
*.OpenFOAM
ZZ_cases*
ZZZ_res*
myStf
settings.json


# test cases
tutorials/Matyas_old/caseConstructor/ZZ_cases/test/**
tutorials/Matyas_old/channelCaseConstructor/testMatyas/**
tutorials/Matyas_old/channelCaseConstructor2D/testMatyas/**
tutorials/Matyas_old/channelCaseConstructor2D/testTomas/**
*processor*

!tutorials/verification/flowAroundSphere/baseCase/system/residuals
applications/rho*

tutorials/Matyas_old/caseConstructor/ZZ_cases/test/**
tutorials/untested/rash*
# tutorials/2DChannels/testMatyas/**
# tutorials/2DChannels/testMatyas/**
tutorials/2DChannels/testTomas/**

*polyMesh*
*boundaryData*
*postProcessing*

*0

diff**
flow1D*

*__pycache__

*.pyc

*GPF_F_100x168x100_reactHetCat_comparison_isoDRC_sootPorousSimpleFoam_clean

# python script for recompilation and permission granting
magic.py