# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Solver compilation files
*linux64GccDPInt32Opt
*linux64GccDPInt32-spack
rhoPimpleFoam
rhoSimpleFoam
dynamicCode
log.*
*.OpenFOAM
ZZ_cases*
ZZZ_res*
myStf
settings.json

untestedTutorials/reactingRect*
untestedTutorials/test*
untestedTutorials/ver*
untestedTutorials/pimpleCyl2D
untestedTutorials/pimpleFlasks*
untestedTutorials/pipe
untestedTutorials/porPimpleCyl2D


# test cases
tutorials/Matyas/caseConstructor/ZZ_cases/test/**
tutorials/Matyas/channelCaseConstructor/testMatyas/**
tutorials/Matyas/channelCaseConstructor2D/testMatyas/**
tutorials/Matyas/channelCaseConstructor2D/testTomas/**

diff**
flow1D*

*__pycache__

*.pyc

# python script for recompilation and permission granting
magic.py